{% extends "base.html" %}
{% block body %}
{% if alert == None %}
<div class="alert alert-info">Add a show using the form below.</div>
{% elif alert == "success" %}
<div class="alert alert-success"><strong>Success!</strong> Show added successfully!</div>
{% elif alert == "taken" %}
<div class="alert alert-danger"><strong>Error!</strong> Time slot is already taken!</div>
{% endif %}
<div class="row">
<form action="/add/" method="post" role="form">
    {{ showForm.hidden_tag() }}
    <div class="col-md-6 form-group">
        {{ showForm.showName.label }}
        {{ showForm.showName(class_="form-control", required="") }}
   	</div>
   	<div class="col-md-6 form-group">
        {{ showForm.showDay.label }}
        {{ showForm.showDay(class_="form-control", required="") }}
   	</div><br>
   	<div class="col-md-6 form-group">
        {{ showForm.showStart.label }}
        {{ showForm.showStart(class_="form-control", required="") }}
   	</div><br>
   	<div class="col-md-6 form-group">
        {{ showForm.showEnd.label }}
        {{ showForm.showEnd(class_="form-control", required="")}}
   	</div><br>
   	<div class="col-md-3 form-group">
        {{ showForm.host1.label }}
        {{ showForm.host1(class_="form-control") }}
   	</div><br>
   	<div class="col-md-3 form-group">
        {{ showForm.host2.label }}
        {{ showForm.host2(class_="form-control") }}
   	</div><br>
   	<div class="col-md-3 form-group">
        {{ showForm.host3.label }}
        {{ showForm.host3(class_="form-control") }}
   	</div><br>
   	<div class="col-md-3 form-group">
        {{ showForm.host4.label }}
        {{ showForm.host4(class_="form-control") }}
   	</div><br>
   	<div class="col-md-12">
   		<input class="form-control" id="submit" type="submit"></input>
   	</div>
</form>
</div>
</div>
{% endblock %}