{% extends "base.html" %}
{% block body %}
{% if get_flashed_messages() == None %}
	<div class="alert alert-info">Change your password here:</div>
{% else %}
	{% for message in get_flashed_messages() %}
		{% if message == "pass-updated" %}
			<div class="alert alert-success"><strong>Success! </strong>Password updated.</div>
		{% elif message == "bad-old" %}
			<div class="alert alert-danger"><strong>Error: </strong>Old password is not correct.</div>
		{% else %}
			<div class="alert alert-info">{{ message }}</div>
		{% endif %}
	{% endfor %}
{% endif %}
<form action="" role="form" method="post">
	<input class="form-control" type="password" id="new_pass" name="new_pass" placeholder="New Password" required><br>
	<input class="form-control" type="password" id="confirm_new_pass" name="confirm_new_pass" placeholder="Confirm New Password" oninput="check(this)" required><br>
	<input class="form-control" type="password" name="old_pass" placeholder="Old Password" required><br>
	<input class="form-control" type="submit" value="Change Password">
</form>
<script type="text/javascript">
	function check(input) {
		if (input.value != document.getElementById("new_pass").value) {
			input.setCustomValidity("Password Must Be Matching");
		} else {
			// input is valid -- reset the error message
			input.setCustomValidity('');
		}
	}
</script>
{% endblock %}