{% extends "base.html" %}
{% block body %}
{% if error %}
<div class="alert alert-danger"><strong>Error:</strong> {{ error }}</div>
{% elif "not logged in" in get_flashed_messages() %}
<div class="alert alert-danger"><strong>Error: </strong> You need to be logged in to access that page!</div>
{% elif "logged out"  in get_flashed_messages() %}
<div class="alert alert-success">You have been logged out of your account.</div>
{% else %}
<div class="alert alert-info"><strong>Welcome!</strong> Please log in below:</div>
{% endif %}
<form action="" method="post" role="form">
	{{ loginForm.hidden_tag() }}
	{{ loginForm.username(class_="form-control", placeholder="Username", required="") }}<br>
	{{ loginForm.password(class_="form-control", placeholder="Password", required="") }}<br>
	<input type="submit" class="form-control btn btn-info" value="Log In">
</form><br>
{% endblock %}