{% extends "base.html" %}
{% block body %}
{% if status == None %}
<div class="alert alert-info">Send a tweet right from this site:</div>
{% elif status == "success" %}
<div class="alert alert-success"><strong>Success!</strong> Tweet sent!</div>
{% elif status == "failed" %}
<div class="alert alert-danger"><strong>Error!</strong> Sending failed!</div>
{% elif status == "error" %}
<div class="alert alert-danger"><strong>Error:</strong> {{ error }}</div>
{% endif %}
<form role="form" action="/manual-tweet/" method="post">
	{{ tweetForm.hidden_tag() }}
	<div class="form-group">
		{{ tweetForm.tweet.label}}
		{{ tweetForm.tweet(class_="form-control", rows="2", maxlength="140")}}
	</div>
	<input class="form-control btn btn-info" type="submit" value="Send Tweet"></input>
</form>
{% endblock %}