{% extends "base.html" %}
{% block body %}
{% if status == None %}
<div class="alert alert-info">Send a tweet right from this site:</div>
{% elif status == "success" %}
<div class="alert alert-success"><strong>Success!</strong> Tweet sent!</div>
{% elif status == "failed" %}
<div class="alert alert-danger"><strong>Error!</strong> Sending failed!</div>
{% endif %}
<form role="form" action="/manual-tweet/" method="post">
	<div class="form-group">
		<label for="message">Tweet:</label>
		<textarea class="form-control" name="message" rows="2" maxlength="140"></textarea>
	</div>
	<input class="form-control btn btn-info" type="submit" value="Send Tweet"></input>
</form>
{% endblock %}