{% extends "base.html" %}
{% block body %}
<div class="row">
	<h3>Add New Account</h3>
</div>
<div class="row well" id="add-account">
	<form role="form" action="/user-management/" method="post">
		<div class="col-md-3">
			<input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
		</div>
		<div class="col-md-3">
			<input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
		</div>
		<div class="col-md-3">
			<input class="form-control" type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" oninput="check(this)" required>
		</div>
		<div class="col-md-3">
			<select class="form-control" name="type" required>
				<option value="" disabled selected hidden>Account Type</option>
				<option value="user">user</option>
				<option value="admin">admin</option>
				{% if session["type"] == "dev" %}
				<option value="dev">dev</option>
				{% endif %}
			</select>
		</div><br><br>
		<div class="col-md-12">
			<input class="form-control btn btn-success" type="submit" name="submit" value="Add User">
		</div>
	</form>
</div>
<div class="row">
	{{ table }}
</div>
<style type="text/css">
	select:invalid {
		color: gray;
	}
</style>
<script type="text/javascript">
	function check(input) {
		if (input.value != document.getElementById("password").value) {
			input.setCustomValidity("Password Must Be Matching");
		} else {
			// input is valid -- reset the error message
			input.setCustomValidity('');
		}
	}
</script>
{% endblock %}